.header-container {
  background-color: lightblue;
  height: 50px;
  padding: 0 10px;
}

.header-container h1 {
  margin: 0;
  line-height: 50px;
  display: inline-block;
}

.button-container {
  display: flex;
  justify-content: right;
  height: 100%;
  right: 0;
}

.button-container button:hover {
  /*opacity: 0.6;*/
}
