.header-container {
  display: flex;
  background-color: lightblue;
  height: 50px;
  padding: 0 10px;
}

.header-container h1 {
  margin: 0;
  line-height: 50px;
  display: inline-block;
}

.button-container {
  margin-left: auto;
  height: 100%;
  right: 0;
}